.container_season {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 56px;
    width:320px;
    grid-template-areas:
      ". . . .";
  }
  
  .potatoes{
    padding: 20px;
    margin-left:60%;
}

.potatoestwo{
    padding: 20px;
    height: 750px;
    width: 75%;
    background-image: url(../images/CRM-SignUp/Group\ 10.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: 400px;
    background-position-y: 30px;
    margin-left:13%
}

.potatoestwoIn{
    padding: 20px;
    height: 750px;
    width: 75%;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: 400px;
    background-position-y: 30px;
    margin-left:60%
}

.input-icons i{
    position: absolute;
}


.infou{
    width: 300px;
    padding: 6px 20px;
    border-radius: 19px;
    background-color:white;
    margin-bottom:20px;
    

    padding: 6px 10px 10px 30px;
    
    }

.infoe{
    width: 300px;
    padding: 6px 20px;
    border-radius: 19px;
    background-color:white;
    margin-bottom:20px;
 
    padding: 6px 10px 10px 30px;
}

.infop{
    width: 300px;
    padding: 6px 20px;
    border-radius: 19px;
    background-color:white;
    
    padding: 6px 10px 10px 30px;
} 

.infouser{
    width: 300px;
    height: 35px;
    padding: 6px 20px;
    border-radius: 26px;
    border-width: thin;
    border: 1px solid black;
    background-color:white;
    margin-bottom:20px;
    
    padding: 6px 10px 10px 30px;
    
    }

.infoemail{
    width: 300px;
    height: 35px;
    padding: 6px 20px;
    border-radius: 26px;
    border: 1px solid black;
    background-color:white;
    margin-bottom:20px;
 
    padding: 6px 10px 10px 30px;
}

.infopass{
    width: 300px;
    height: 35px;
    padding: 6px 20px;
    border-radius: 26px;
    border: 1px solid black;
    background-color:white;
    
    padding: 6px 10px 10px 30px;
}

.new{
    padding: 18px;
    margin-left: 7px;
   
}

.sign{
    
    font-size:18px;
    padding: 0px;
    margin-left:10%;
    margin-bottom:20px;
    
}

.signup{
    
    font-size:25px;
    padding: 0px;
    margin-left:80px;
    margin-bottom:20px;
    
}

.sup{
    background-color:rgba(4, 90, 202, 0.89);
    color:white;
    font-weight: bold;
    width: 160px;
    height:45px;
    margin-bottom: 20px;
    margin-left: 18px;
    font-size: 22px;
    padding: 6px 15px;
    border-radius: 25px;
    border: rgba(4, 90, 202, 0.89);
}

.sip{
    padding: 35px;
    height:5px;
    margin-left:5%;
}

.sipup{
    padding: 35px;
    height:5px;
    margin-left:30px;
}

.platform{
    font-style:bold;
    font-size:8px;
    margin-left:60px;
}

.platformup{
    font-weight: bold;
    font-size:15px;
    margin-left:60px;
    
}


.bottom-grid{
    height:40px;
    width:40px;
    padding:6px;
    margin: 1px;
    border:1px solid black;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    
}

.fab{
    height:25px;
    width:25px;
    padding:7px;
    
    border:1px solid black;

    border-radius: 400px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;

}


body{
    font-family: 'Roboto', sans-serif;
}

.blue_moon{
      background-color: blue;
      height: 800px;
      width: 800px;
      border-right: 10px solid transparent;
      border-top: 100px solid transparent;
      border-bottom: 300px solid transparent;
      border-radius: 0px 0px 1000px 250px;
      margin-top: -1200px;
      margin-left: -100px;
      transform: rotate(25deg);
    }

.moon_picture{
    transform: rotate(-24deg);
    margin-top: 470px;
    margin-left: 340px;
}

.possible_sign_up{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: -30px;
    margin-top: -500px;
    transform: rotate(-25deg);
}

#come_to_me{
    color: white;
    width: 135px;
    background-color: blue;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 20px;
    margin-left: 350px;
    margin-bottom: 500px;
    transform: rotate(-25deg);
}

.desk_picture{
    margin-top: 10%;
    margin-left: 50%;
}

/* Nav Bar Horizontal Across Top */
    /* img on the left */
    /* menu in the center */
    /* Buttons off to the right side */
        /* first blue second white */

/* Header */
    /* HR "Focus On Buisnes" with a subheading "Let Us" */
    /* Paragraph w/ Medium Text */
    /* Two buttons next to each other */
        /* first blue second white */
    /* paragraph w/ medium text */
    /* Small text */

/* GRID */
    /* 3 x 3 */
        /* background: blue white blue  */

/* hr */

/* #navbar {
    margin-left: 100px;
    display: inline;
    float: right;
}


li a {
    padding: 10px;
    display: inline;
    float: right;
    
} */
/* NEW */
/* Move Nav Bar list to The center */
/* footer */
/* background blue */
/* HR "Try Doubletap" */
    /* paragraph */
/* Two buttons side by side */
/* Same small text from header */



/* * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

#navigation {
    background-color: white;
    width: 100%;
    justify-content: space-around;
    bottom:50px;
    margin-top: 30px;
    
}

#dot4 {
    margin-left: 5cm;
}

#h_IMG {
    background-image: url("../images/CRM-SignIn/Logo.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 250px;
}

#meatchest {
    padding-top: 5%;
}

.header_background {
    background-image: url("..//images/CRM-How-it-works/Header-Side-1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 95%;
    position: right;
    height: 600px;
}

.header_close {
    display:flex;
    justify-content: space-evenly;
    color: black;
    font-style: bold;
    font-size: 12px;
    margin-top: 20px;
}

#focus_hr {
    font-size: 50px;
    font-style: bold;
    padding: 5px;
}

#subH {
    font-size: 30px;
    font-style: bold;
    padding: 5px;
}

#intro {
    font-style: bold;
    padding: 5px;
}

.header_buttons {
    display:flex;
    justify-content: space-evenly;
    padding: 5px;
}

#already {
    display:flex;
    justify-content: left;
    padding: 5px;
}

.a {
    text-decoration: none;
    color: black;
}

#home_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
    margin-top: 23px;
    color: black;

}

#features_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
    margin-top: 23px;
    justify-content: space-around;
}

#pricing_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
    margin-top: 23px;
    margin-left: 20px;
}

#how_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
    margin-top: 23px;
    margin-left: 25px;

}

#paintitblack {
    color: black;
}

#supp_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
    margin-top: 23px;
}


.but {
    background-color: white;
    border-color:#0850F8;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    text-decoration-color: #0850F8;
    color:#0850F8;
    width: 100px;
    margin-right: 50px;
    margin-top: 20px;
}


.tryButt {
    background-color: #0850F8;
    border-color:#0850F8;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    text-decoration-color: white;
    color:white;
    width: 100px;
    margin-left: 25px;
    margin-top: 20px;
    
}

#sign_button:hover {
    background-color: white;
    color: white;
}

#chat_button:hover {
    background-color:blue;
    color: blue;
    border-color: white;
}

.but:hover {
    background-color: 0850F8;
}

.tryButt:hover {
    background-color: #FFFFFF;
}

.chat_button {
    background-color: white;
    border-color:#0850F8;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    text-decoration-color: #0850F8;
    color:#0850F8;

}

#sign_button {
    background-color: #0850F8;
    border-color:#0850F8;
    border: blue solid 2px;
    border-radius: 12px;
    text-decoration-color: white;
    color:white
}

#bottom {
    color: white;
    font-size: xx-large;
    margin-top: 25px;
    padding-bottom: 20px;
}

#lets {
    color: white;
    font-size: large;
    border-bottom: 10px;
    padding-bottom: 35px;
}

#trial1 {
    margin-right: 95%;
    font-size: x-small;
    width: 200px;
    margin-top: 20px;
}

#manage1 {
    margin-right: 95%;
    font-size: x-small;
    width: 200px;
    margin-top: 20px;
}

#cancel1 {
    margin-right: 95%;
    font-size: x-small;
    width: 200px;
    margin-left: 2cm;
    margin-top: 20px;
}

.f {
    background-color: #0850F8;
    text-align: center;
    border: solid #0850F8; 
    color: white;   
}


#tbut1 {
    background-color: #0850F8;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    background-image: url(../images/CRM-How-it-works/sign_up_free.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 10px;
    width: 160px;
    height: 50px;
}

#tbut2 {
    background-color: #FFFFFF;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    background-image: url(../images/CRM-How-it-works/chat_with_us.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 10px;
    width: 160px;
    height: 50px;
}

#fbut1 {
    background-color: #7FD126;
    border: #7FD126 solid 2px;
    border-radius: 12px;
    background-image: url(../images/CRM-How-it-works/Get_started.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 200px;
    height: 60px;
}

#fbut2 {
    background-color: #FFFFFF;
    border: #FFFFFF solid 2px;
    border-radius: 12px;
    background-image: url(../images/CRM-How-it-works/chat_with_us.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 200px;
    height: 60px;
}

.footsub {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 100px;    
    padding: 20px;
}

/* #trial {
    margin-left: 15cm;
    margin-top: 35px;
    width: 300px;
    margin-bottom: 200px;
    margin-top: 70px;
    font-size: large;
    font-style: double;

}

#manage {
    margin-left: 17cm;
    margin-top: 35px;
    width: 300px;
    margin-bottom: 100px;
    margin-top: 70px;
    font-size: large;
    font-style: double;
}

#cancel {
    margin-left: 17cm;
    margin-top: 35px;
    width: 450px;
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: large;
    font-style: double;
} */

[title=dot_between]{
    max-height: 10px;
    max-width: 10px;
}

#bottomTag{
    display:flex;
    flex-shrink: inherit;
    color:white;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.greyText {
    color: grey;
    font-size: 18px;
}

#skullbreak{
    width: 60%;
}
  
/* Getstarted chat with us button2 */

.HIWcontainer{
    padding:10px;
    display:flex;
    text-align: center;
    flex-direction: column;
}

.HOMEcontainer{
    padding:10px;
    display:flex;
    text-align: center;
    flex-direction: column;
}

.HIWtopTextArea{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-left: 25%;
    padding-top: 5%;
    padding-right: 25%;
    padding-bottom: 5%;
}

.HOMEtopTextArea{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-left: 25%;
    padding-top: 5%;
    padding-right: 25%;
    padding-bottom: 5%;
}


.HIWtopTextTitle{
    font-size: 24px;
    font-style: bold;
    height: 80px;
}

.HIWTextBody {
    font-size: 14px;
}

.HOMEtopTextTitle{
    font-size: 24px;
    font-style: bold;
    height: 80px;
}

.HOMETextBody {
    font-size: 14px;
}

.HIWPicArea{
    padding:25px;
}

.HOMEPicArea{
    margin:25px;
    margin-left: 10%;
}

.ways {
    height:100px;
    width:100px;
    border:1px solid black;
    border-radius: 10%;
}

.ways_a {
    height:100px;
    width:100px;
    border:1px solid black;
    border-radius: 10%;
    background-color: #0850F8;
    background-image: url(../images/CRM-How-it-works/Path\ 25.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.ways_b {
    height:100px;
    width:100px;
}

.way_img_a {
    height: 75%;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 35%;
}

.way_img {
    height: 75%;
    color: black;
}

.way1 {
    color: white;
}

[title=way_image] {
    padding: 20px;
    height: 80px;
}

.way_icons {
    display: flex;
    justify-content: center;
}

@media (max-width: 750px) {
    .ways_b {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 575.97px) { 
    
    .HIWPicCorner1{
        height:20px;
        width: 20px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-radius: 100% 0 0 0;
    }

    .HIWPicCorner2{
        height:20px;
        width: 20px;
        border-right: 1px solid white;
        border-top: 1px solid white;
        border-radius: 0 100% 0 0;
        background-color: white;
    }

    .HIWPicCorner3{
        height:20px;
        width: 20px;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: 0 0 0 100%;
    }

    .HIWPicCorner4{
        height:20px;
        width:20px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: 0 0 100% 0;
        background-color: white;
    }

    .HIWPicBoxTop1{
        height: 20px;
        width: 30%;
        border-top: 1px solid white;
    }

    .HIWPicBoxTop2{
        height: 20px;
        width: 60%;
        border-top: 1px solid white;
        background-color: white;
    }

    .HIWPicSide1{
        width: 20px;
        border-left: 1px solid white;
    }

    .HIWPicSide2{
        width: 20px;
        border-right: 1px solid white;
        background-color: white;
    }

    .HIWPicBoxBottom1{
        height: 20px;
        width: 30%;
        border-bottom: 1px solid white;
    }

    .HIWPicBoxBottom2{
        height: 20px;
        width: 60%;
        border-bottom: 1px solid white;
        background-color: white;
    }

    .ways_b {
        height: 1px;
        width: 1px;
    }
}

@media (min-width: 575.98px) { 

    .HIWPicCorner1{
        height:20px;
        width: 20px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-radius: 100% 0 0 0;
    }

    .HIWPicCorner2{
        height:20px;
        width: 20px;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-radius: 0 100% 0 0;
        background-color: #0850F8;
    }

    .HIWPicCorner3{
        height:20px;
        width: 20px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0 0 0 100%;
    }

    .HIWPicCorner4{
        height:20px;
        width:20px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0 0 100% 0;
        background-color: #0850F8;
    }

    .HIWPicBoxTop1{
        height: 20px;
        width: 30%;
        border-top: 1px solid black;
    }

    .HIWPicBoxTop2{
        height: 20px;
        width: 60%;
        border-top: 1px solid black;
        background-color: #0850F8;
    }

    .HIWPicSide1{
        width: 20px;
        border-left: 1px solid black;
    }

    .HIWPicSide2{
        width: 20px;
        border-right: 1px solid black;
        background-color: #0850F8;
    }

    .HIWPicBoxBottom1{
        height: 20px;
        width: 30%;
        border-bottom: 1px solid black;
    }

    .HIWPicBoxBottom2{
        height: 20px;
        width: 60%;
        border-bottom: 1px solid black;
        background-color: #0850F8;
    }
}

.HIWPicBox1{
    display: flex;
    align-items: center;
    align-self: center;
    width: 30%;
}

.HOMEPicBox1{
    display: flex;
    align-items: center;
    align-self: center;
    width: 30%;
}

.HOMEPicBox2{
    text-align: left;
    background-color: #0850F8;
    width: 60%;
}

.HIWPicBox2{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #0850F8;
    width: 60%;
}

.HIWPicBox2Title{
    font-size: 24px;
    font-style: bold;
    height: 60px;
    color: white;
    padding-top: 5%;
}

.HOMEPicBox2Title{
    font-size: 24px;
    font-style: bold;
    color: white;
    margin: 5%;
}

.HIWPicBox2Text{
    font-size: 14px;
    color: white;
    padding: 10%;
    text-align: left;
}

.HOMEPicBox2TextA{
    font-size: 14px;
    color: white;
    margin-left: 5%;
    margin-bottom: 5%;
}

.HOMEPicBox2Text{
    font-size: 14px;
    color: white;
    margin-left: 5%;
}

#learnmore_btn {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #0850F8;
    border: 3px solid white;
    border-radius: 10px;
    margin: 5%;
    padding-left: 30px;
    width: 200px;

}

#lm_carrot {
    margin-left: 30px;
    font-size: 30px;
    font-style: bold;
    text-align: right;
}

.HIWPicSide2{    
    background-color: #0850F8;
}

.HIWmidTextArea{
    display:flex;
    justify-content: center;
    padding-left: 25%;
    padding-top: 5%;
    padding-right: 25%;
    padding-bottom: 5%;
}

.HOMEsolutionsArea{
    margin: 5%;
}

.solution_box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 5%;
}

.solution_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: #E5EFFF;
    margin-left: 25%;
}

.solution_title {
    font-size: 24px;
    font-style: bold;
    margin: 5%;
}

.solution_text {
    font-size: 21px;
    font-style: bold;
    margin: 5%;
}

.HOMEsolutionsTitle {
    font-size: 24px;
    font-style: bold;
    height: 80px;
}

#Slearnmore_btn {
    display: flex;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5%;
    margin-left: 25%;
    padding-left: 30px;
    width: 200px;

}

[title=collect_info]{  
    max-width: 90%;
}

[title=take_payments]{  
    max-width: 90%;
}
