body{
    font-family: 'Roboto', sans-serif;
}

.blue_moon{
      background-color: blue;
      height: 800px;
      width: 800px;
      border-right: 10px solid transparent;
      border-top: 100px solid transparent;
      border-bottom: 300px solid transparent;
      border-radius: 0px 0px 1000px 250px;
      margin-top: -450px;
      margin-left: -150px;
      transform: rotate(25deg);
    }

.moon_picture{
    transform: rotate(-24deg);
    margin-top: 470px;
    margin-left: 340px;
}

.possible_sign_up{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: -30px;
    margin-top: -500px;
    transform: rotate(-25deg);
}

#come_to_me{
    color: white;
    width: 135px;
    background-color: blue;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 20px;
    margin-left: 350px;
    margin-bottom: 500px;
    transform: rotate(-25deg);
}

.desk_picture{
    margin-top: 10%;
    margin-left: 50%;
}

/* Nav Bar Horizontal Across Top */
    /* img on the left */
    /* menu in the center */
    /* Buttons off to the right side */
        /* first blue second white */

/* Header */
    /* HR "Focus On Buisnes" with a subheading "Let Us" */
    /* Paragraph w/ Medium Text */
    /* Two buttons next to each other */
        /* first blue second white */
    /* paragraph w/ medium text */
    /* Small text */

/* GRID */
    /* 3 x 3 */
        /* background: blue white blue  */

/* hr */

/* #navbar {
    margin-left: 100px;
    display: inline;
    float: right;
}


li a {
    padding: 10px;
    display: inline;
    float: right;
    
} */
/* NEW */
/* Move Nav Bar list to The center */
/* footer */
/* background blue */
/* HR "Try Doubletap" */
    /* paragraph */
/* Two buttons side by side */
/* Same small text from header */



/* * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

#navigation {
    background-color: white;
    width: 100%;
    justify-content: space-around;
    bottom:50px;
    margin-top: 20px;
    
}

#dot4 {
    margin-left: 5cm;
}

#h_IMG {
    background-image: url("../images/CRM-SignIn/Logo.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 250px;
}

#meatchest {
    background-image: url("..//images/CRM-How-it-works/Header-Side.png");
    background-repeat: no-repeat;
    background-position: 85%;
    background-size: 26.5%;
    padding-top: 5%;
    position: relative;
}


.focus_hr{
    font-size: 1.2em;
}

#home_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
}

#features_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
}

#pricing_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
}

#how_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
}

#supp_button {
    border: none;
    background-color: white;
    font-size: 1.2em;
}


.but {
    background-color: white;
    border-color:#0850F8;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    text-decoration-color: #0850F8;
    color:#0850F8;
}


.tryButt {
    background-color: #0850F8;
    border-color:#0850F8;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    text-decoration-color: white;
    color:white
    
}

#sign_button:hover {
    background-color: white;
    color: white;
}

#chat_button:hover {
    background-color:blue;
    color: blue;
    border-color: white;
}

.but:hover {
    background-color: 0850F8;
}

.tryButt:hover {
    background-color: #FFFFFF;
}

.chat_button {
    background-color: white;
    border-color:#0850F8;
    border: #0850F8 solid 2px;
    border-radius: 12px;
    text-decoration-color: #0850F8;
    color:#0850F8;

}

#sign_button {
    background-color: #0850F8;
    border-color:#0850F8;
    border: blue solid 2px;
    border-radius: 12px;
    text-decoration-color: white;
    color:white
}

#bottom {
    color: white;
    font-size: xx-large;
    margin-top: 25px;
    padding-bottom: 20px;
}

#lets {
    color: white;
    font-size: large;
    border-bottom: 10px;
    padding-bottom: 35px;
}

#trial1 {
    margin-right: 95%;
    font-size: x-small;
    width: 200px;
    margin-top: 20px;
}

#manage1 {
    margin-right: 95%;
    font-size: x-small;
    width: 200px;
    margin-top: 20px;
}

#cancel1 {
    margin-right: 95%;
    font-size: x-small;
    width: 200px;
    margin-left: 2cm;
    margin-top: 20px;
}

.f {
    background-color: #0850F8;
    text-align: center;
    border: solid #0850F8; 
    color: white;   
}

#fbut{
    display:flex;
    justify-content: space-evenly;
}


#fbut1 {
    background-color: #7FD126;
    border-color:#7FD126;
    border: #7FD126 solid 2px;
    border-radius: 12px;
    background-image: url(../images/CRM-How-it-works/Get_started.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 40px;
}

#fbut2 {
    background-color: #FFFFFF;
    border-color:#FFFFFF;
    border: #FFFFFF solid 2px;
    border-radius: 12px;
    background-image: url(../images/CRM-How-it-works/chat_with_us.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 40px;

}

.footsub {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 100px;    
    padding: 20px;
}

/* #trial {
    margin-left: 15cm;
    margin-top: 35px;
    width: 300px;
    margin-bottom: 200px;
    margin-top: 70px;
    font-size: large;
    font-style: double;

}

#manage {
    margin-left: 17cm;
    margin-top: 35px;
    width: 300px;
    margin-bottom: 100px;
    margin-top: 70px;
    font-size: large;
    font-style: double;
}

#cancel {
    margin-left: 17cm;
    margin-top: 35px;
    width: 450px;
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: large;
    font-style: double;
} */

[title=dot_between]{
    max-height: 10px;
    max-width: 10px;
}

#bottomTag{
    display:flex;
    flex-shrink: inherit;
    color:white;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.greyText {
    color: grey;
    font-size: 20px;
}

#skullbreak{
    padding-left: 30%;
    padding-right: 30%;
}
  
/* Getstarted chat with us button2 */

.HIWcontainer{
    padding:10px;
    display:flex;
    text-align: center;
    flex-direction: column;
}

.HIWtopTextArea{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-left: 25%;
    padding-top: 5%;
    padding-right: 25%;
    padding-bottom: 5%;
}

.HIWtopTextTitle{
    font-size: 24px;
    font-style: bold;
    height: 80px;
}

.HIWTextBody {
    font-size: 14px;
}

.HIWPicArea{
    padding:25px;
}

.HIWPicBox1{
    display: flex;
    align-items: center;
    align-self: center;
    width: 30%;
}

.HIWPicBox2{
    width: 60%;
    background-color: #0850F8;
}
@media (max-width: 575.97px) { 
    
    .HIWPicCorner1{
        height:20px;
        width: 20px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-radius: 100% 0 0 0;
    }

    .HIWPicCorner2{
        height:20px;
        width: 20px;
        border-right: 1px solid white;
        border-top: 1px solid white;
        border-radius: 0 100% 0 0;
        background-color: white;
    }

    .HIWPicCorner3{
        height:20px;
        width: 20px;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: 0 0 0 100%;
    }

    .HIWPicCorner4{
        height:20px;
        width:20px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: 0 0 100% 0;
        background-color: white;
    }

    .HIWPicBoxTop1{
        height: 20px;
        width: 30%;
        border-top: 1px solid white;
    }

    .HIWPicBoxTop2{
        height: 20px;
        width: 60%;
        border-top: 1px solid white;
        background-color: white;
    }

    .HIWPicSide1{
        width: 20px;
        border-left: 1px solid white;
    }

    .HIWPicSide2{
        width: 20px;
        border-right: 1px solid white;
        background-color: white;
    }

    .HIWPicBoxBottom1{
        height: 20px;
        width: 30%;
        border-bottom: 1px solid white;
    }

    .HIWPicBoxBottom2{
        height: 20px;
        width: 60%;
        border-bottom: 1px solid white;
        background-color: white;
    }
}

@media (min-width: 575.98px) { 

    .HIWPicCorner1{
        height:20px;
        width: 20px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-radius: 100% 0 0 0;
    }

    .HIWPicCorner2{
        height:20px;
        width: 20px;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-radius: 0 100% 0 0;
        background-color: #0850F8;
    }

    .HIWPicCorner3{
        height:20px;
        width: 20px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0 0 0 100%;
    }

    .HIWPicCorner4{
        height:20px;
        width:20px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0 0 100% 0;
        background-color: #0850F8;
    }

    .HIWPicBoxTop1{
        height: 20px;
        width: 30%;
        border-top: 1px solid black;
    }

    .HIWPicBoxTop2{
        height: 20px;
        width: 60%;
        border-top: 1px solid black;
        background-color: #0850F8;
    }

    .HIWPicSide1{
        width: 20px;
        border-left: 1px solid black;
    }

    .HIWPicSide2{
        width: 20px;
        border-right: 1px solid black;
        background-color: #0850F8;
    }

    .HIWPicBoxBottom1{
        height: 20px;
        width: 30%;
        border-bottom: 1px solid black;
    }

    .HIWPicBoxBottom2{
        height: 20px;
        width: 60%;
        border-bottom: 1px solid black;
        background-color: #0850F8;
    }
}

.HIWPicBox2Title{
    font-size: 24px;
    font-style: bold;
    height: 60px;
    color: white;
    padding-top: 5%;
}

.HIWPicBox2Text{
    font-size: 14px;
    color: white;
    padding: 10%;
    text-align: left;
}

.HIWPicBox2{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #0850F8;
}

.HIWPicSide2{    
    background-color: #0850F8;
}

.HIWmidTextArea{
    display:flex;
    justify-content: center;
    padding-left: 25%;
    padding-top: 5%;
    padding-right: 25%;
    padding-bottom: 5%;
}

[title=collect_info]{  
    max-width: 90%;
}

[title=take_payments]{  
    max-width: 90%;
}
